<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Style.css' %}">
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
    <script src="{% static './js/cartService.js' %}"></script>
    <title>Productos Destacados</title>
</head>

<body>

    <!-- Header -->

    <header>
        <div class="container-hero">
            <div class="container hero">
                <div class="customer-support">
                    <i class="fa-solid fa-headset"></i>
                    <div class="content-customer-support">
                        <span class="text">Comunicate con Nosotros</span>
                        <span class="number">+56 9 9196 9934</span>
                    </div>
                </div>

                <div class="container-logo">
                    <i class="fa-brands fa-dropbox"></i>
                    <h1 class="logo">Web Nova<a href="{% url 'INDEX' %}"></a></h1>
                </div>

                <div class="container-user">
                    <div class="paste-button">
                        <button class="button fa-solid fa-user"> </button>
                        <div class="dropdown-content">
                            {% if user.is_authenticated %}
                            <a id="bottom" href="{% url 'user_profile' %}">Ver Perfil : {{user.username}} </a>
                            <a id="bottom" href="">Compras </a>
                            <a id="bottom" href="{% url 'LOGOUT' %}">Cerrar sesion</a>
                            {% else %}
                            <a id="bottom" href="{% url 'log' %}">Inicia sesion</a>
                            <a id="bottom" href="{% url 'registrop' %}">Registrate</a>
                            {% endif %}
                        </div>
                    </div>
                    <i class="fa-solid fa-cart-shopping" href="{% url 'ver_carrito' %}"></i>
                    <div class="content-shopping-cart" href="{% url 'ver_carrito' %}">
                        <a class="text" href="{% url 'ver_carrito' %}" id="carrito"
                            style="color: white; text-decoration: none;">Carrito de Compras</a>
                        <span class="number" id="cuentaCarrito">(0)</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- navbar -->

        <div class="container-navbar">
            <nav class="navbar container">
                <i class="fa-solid fa-bars"></i>

                <ul class="menu">
                    <li><a href="{% url 'INDEX' %}">Inicio</a></li>
                    <li><a href="{% url 'productoex' %}">Productos</a></li>
                    <li><a href="{% url 'sacar_cotizacion' %}">Cotización</a></li>
                </ul>
                <form class="search-form">
                    <input type="search" placeholder="Buscar...">
                    <button class="btn-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>
            </nav>
        </div>
    </header>

    <!-- Objetos de pagina -->


    <div class="wrapper-objetos">
        <div class="filtro-section">
            <h3> Filtro</h3>
            <div class="linea-divisoria"></div>
            
            <!-- Formulario con GET para filtrar -->
            <form method="GET" action="{% url 'listar_productos_expo' %}">
                <!-- Filtro por palabra clave -->
                <input class="input" type="text" name="search" placeholder="Palabra clave" value="{{ request.GET.search }}">
                
                <div class="linea-divisoria"></div>
                
                <h3> Datos generales</h3>
                
                <!-- Filtro por categoría -->
                <select class="select-filter" name="categoria">
                    <option value="">Seleccionar Categoría</option>
                    <option value="procesador" {% if request.GET.categoria == 'procesador' %}selected{% endif %}>Procesador</option>
                    <option value="tarjeta_grafica" {% if request.GET.categoria == 'tarjeta_grafica' %}selected{% endif %}>Memoria RAM</option>
                    <option value="memoria_ram" {% if request.GET.categoria == 'memoria_ram' %}selected{% endif %}>Tarjeta de Video</option>
                    <option value="almacenamiento" {% if request.GET.categoria == 'almacenamiento' %}selected{% endif %}>Almacenamiento</option>
                    <option value="placamadre" {% if request.GET.categoria == 'placamadre' %}selected{% endif %}>Placa Madre</option>
                    <option value="fuentepoder" {% if request.GET.categoria == 'fuentepoder' %}selected{% endif %}>Fuente</option>
                    <option value="pantalla" {% if request.GET.categoria == 'pantalla' %}selected{% endif %}>Pantalla</option>
                </select>
                
                <!-- Botón de enviar filtro -->
                <button type="submit">Filtrar</button>
            </form>
        </div>
    
        <div class="productos-section">
            <div class="objet-wrapps">
                <button class="foton">
                    Ver Filtros
                </button>
                <div id="productos-section">
                    {% for producto in productos %}
                    <div class="tarjeta-producto">
                        <a href="{% url 'propcard' producto.id %}">
                            <div class="card_product">
                                <div class="img_producto">
                                    <img src="{{producto.imagen.url}}">
                                </div>
                                <div class="content">
                                    <h3> {{producto.nombre_producto}} </h3>
                                    <p class="price"> $ {{producto.precio_producto}} </p>
                                    {% if producto.categoria == "procesador" %}
                                    {% for c in procesador %}
                                    {% if c.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>Núcleos: {{ c.nucleos }}</li>
                                        <li>Frecuencia: {{ c.frecuencia_base }}</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% elif producto.categoria == "tarjeta_grafica" %}
                                    {% for t in tarjeta %}
                                    {% if t.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>VRAM: {{ t.memoria_grafica }}GB</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% elif producto.categoria == "memoria_ram" %}
                                    {% for m in memoriaram %}
                                    {% if m.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>Ram: {{ m.capacidad_ram }}GB</li>
                                        <li>Tipo de memoria: {{ m.tipo_memoria }}</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% elif producto.categoria == "almacenamiento" %}
                                    {% for a in almacenamiento %}
                                    {% if a.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>Capacidad: {{ a.capacidad_almacenamiento }}GB</li>
                                        <li>Tipo de almacenamiento: {{ a.tipo_almacenamiento }}</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% elif producto.categoria == "placamadre" %}
                                    {% for p in placamadre %}
                                    {% if p.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>Socket: {{ p.socket }}</li>
                                        <li>Memoria: {{ p.tipo_memoria }}</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% elif producto.categoria == "fuentepoder" %}
                                    {% for f in fuente %}
                                    {% if f.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>Potencia: {{ f.potencia }}W</li>
                                        <li>Certificación: {{ f.certificacion }}</li>
                                        <li>Modularidad: {{ f.modularidad }}</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% elif producto.categoria == "pantalla" %}
                                    {% for l in pantalla %}
                                    {% if l.producto_ptr.id == producto.id %}
                                    <ul class="product-details">
                                        <li>Marca: {{ producto.marca_producto }}</li>
                                        <li>Tamaño: {{ l.tamano }} pulgadas</li>
                                        <li>Resolución: {{ l.resolucion }}</li>
                                        <li>Frecuencia: {{ l.frecuencia }}</li>
                                        <li>Tipo Panel: {{ l.tipo_panel }}</li>
                                    </ul>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div class="linea-divisoria2"></div>

    <div class="wrap-producto3">
        <div class="slider-container">
            <button class="slider-btn prev-btn">&#10094;</button>
            <div class="slider">
                {% for prod in productos_aleatorios %}
                <div class="card_product">
                    <a href="{% url 'producto_detalle' prod.id %}" class="product-link">
                        <div class="img_producto_slider">
                            <img src="{{ prod.imagen.url }}" alt="{{ prod.nombre_producto }}">
                        </div>
                        <div class="content">
                            <h3>{{ prod.nombre_producto }}</h3>
                            <div class="price">${{ prod.precio_producto }}</div>
                            <ul class="product-details">
                                <li>Marca: {{ prod.marca_producto }}</li>
                                <li>Tipo: {{ prod.categoria }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
            <button class="slider-btn next-btn">&#10095;</button>
        </div>
    </div>


    <!-- Pie de pagina -->
    <footer class="footer">
        <div class="container-footer">
            <div class="menu-footer">
                <div class="contact-info">
                    <p class="title-footer">Información de Contacto</p>
                    <ul>
                        <li>Dirección: Calle 6, 11350. La florida</li>
                        <li>Telefono: +56 9 9196 9934</li>
                        <li>Email: cr.pradop@duocuc.cl</li>
                    </ul>
                    <div class="social-icons">
                        <span class="facebook">
                            <i class="fa-brands fa-facebook"></i>
                        </span>
                        <span class="instagram">
                            <i class="fa-brands fa-instagram"></i>
                        </span>
                        <span class="google">
                            <i class="fa-brands fa-google"></i>
                        </span>
                        <span class="twitter ">
                            <i class="fa-brands fa-twitter"></i>></i>
                        </span>
                        <span class="linkedin">
                            <i class="fa-brands fa-linkedin"></i>
                        </span>
                    </div>
                </div>
                <div class="information">
                    <p class="title-footer">Información</p>
                    <ul>
                        <li><a href="#">Nosotros</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                        <li><a href="#">Contactanos</a></li>
                    </ul>
                </div>
                <div class="my-account">
                    <p class="title-footer">Mi cuenta</p>
                    <ul>
                        <li><a href="#">Perfil</a></li>
                        <li><a href="#">Historial de compras</a></li>
                        <li><a href="#">Historial presupuestos</a></li>
                    </ul>
                </div>
                <div class="newslatter">
                    <p class="title-footer">Mi cuenta</p>
                    <div class="content">
                        <p>
                            Suscribete para recibir las Ofertas
                        </p>
                        <input type="email" placeholder="Ingresa tu correo">
                        <button>Suscribete</button>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>
                    Desarrollado por: OWOWOWOWOOWOW &copy; 2024
                </p>
                <img class="pay-img" src="{% static 'img/pay.png' %}" alt="pago">
            </div>
        </div>
    </footer>

    <!-- Scrips externos -->
    <script src="https://kit.fontawesome.com/aea391ca7c.js" crossorigin="anonymous">
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const slider = document.querySelector('.slider');
            const prevBtn = document.querySelector('.prev-btn');
            const nextBtn = document.querySelector('.next-btn');

            let currentIndex = 0;

            const updateSliderPosition = () => {
                const cardWidth = document.querySelector('.card_product').offsetWidth;
                const gap = parseInt(getComputedStyle(slider).gap) || 0;
                slider.style.transform = `translateX(-${(cardWidth + gap) * currentIndex}px)`;
            };

            prevBtn.addEventListener('click', () => {
                if (currentIndex > 0) {
                    currentIndex--;
                    updateSliderPosition();
                }
            });

            nextBtn.addEventListener('click', () => {
                const maxIndex = slider.children.length - 1;
                if (currentIndex < maxIndex) {
                    currentIndex++;
                    updateSliderPosition();
                }
            });
        });
    </script>
</body>

</html>